<section class="panel is-light">
  <div class="panel-header">
    <p>Experiences</p>
    <span class="fa fa-fill"></span>
  </div>
  <div class="panel-body has-background-white">
    <ul class="panel-list">
      <li><a href="{{ "experience/ref-04" | absURL }}">
          Mixing Vessel
      </a></li>
      <li><a href="{{ "experience/ref-05" | absURL }}">
          Mixer Baby Oil
      </a></li>
      <li><a href="{{ "experience/ref-06" | absURL }}">
          Hot Water Tank
      </a></li>
      <li><a href="{{ "experience/ref-07" | absURL }}">
          Mixer Tank for Butter Oil
      </a></li>
      <li><a href="{{ "experience/ref-10" | absURL }}">
          Hopper Creamer
      </a></li>
      <li><a href="{{ "experience/ref-11" | absURL }}">
          Storage Tank
      </a></li>
      <li><a href="{{ "experience/ref-12" | absURL }}">
          Mixing Vessel Pair
      </a></li>
    </ul>
  </div>
</section>
