{{ define "main" }}
  <main role="main" 
        class="column is-two-thirds blog-column box-deco has-background-white">
    <article class="blog-post">
      <h4 class="title is-4"><span class="fa fa-fill-drip"></span>&nbsp;{{ .Title | default .Site.Title }}</h4>

<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="{{ .Site.BaseURL }}">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon is-small">
          <i class="fa fa-fill" aria-hidden="true"></i>
        </span>
        <span>Experiences</span>
      </a>
    </li>
    <li class="is-active">
      <a href="#" aria-current="page">
        <span class="icon is-small">
          <i class="fa fa-fill-drip" aria-hidden="true"></i>
        </span>
        <span>{{ .Title }}</span>
      </a>
    </li>
  </ul>
</nav>

      {{ .Content }}
    </article>
  </main>
{{ end }}
{{ define "aside" }}
  <aside class="sidebar column is-one-thirds is-paddingless">
    {{ partial "sidebar/experiences.html" . }}
  </aside>
{{ end }}

{{ define "aside2" }}
  <aside class="column is-one-thirds box-deco has-background-white">
    <div class="blog-sidebar">
      Side menu
    </div><!-- /.blog-sidebar -->
  </aside>
{{ end }}
