    <div class="meta-item blog-item">

      <strong><a class="meta_link" 
        href="{{ .Permalink }}">{{ .Title }}
      </strong></a>

      <div class="meta">
        <div class="meta_time is-pulled-left">
          <i class="fa fa-calendar"></i>
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "Jan 2, 2006" }}</time>
        </div>      
        <div class="is-pulled-right" id="meta_tags">
          {{ range .Params.tags }}
            <a href="{{ printf "tags/%s" . | absURL }}">
              <span class="tag is-dark"><span class="fa fa-tag"></span>{{ . }}</span></a>
          {{ end }}
        </div>
      </div> 

      <div class="is-clearfix"></div>
      
      <div>
        {{ if .Params.Excerpt -}}
          {{ .Params.Excerpt }}
        {{- else -}}
          {{ .Summary }}
        {{- end }}
      </div>

      <div class="read-more is-light">
        <a href="{{ .Permalink }}" 
           class="button is-dark is-small">Read More&nbsp;</a>
      </div>

    </div>
