  {{ $year := .Key }}
  <div class ="anchor-target archive-year" 
       id="{{ $year }}">
       {{- if eq .Key (now.Format "2006") -}}
         This year's posts ({{ $year }})
       {{- else -}}
         {{ .Key }}
       {{- end -}}
       </div>

  <div class="columns is-multiline ">
  {{ range (.Pages.GroupByDate "January") }}
  {{ $month := .Key }}

    <div class="column is-full-mobile 
                is-half-tablet is-one-third-widescreen">

      <section class="panel is-light">
        <div class="panel-header" id="{{ $year }}-{{ $month }}">
          <p>{{ $month }} - {{ $year }}</p>
          <span class="fa fa-archive"></span>
        </div>
        <div class="panel-body has-background-white">

          <div class="archive-list archive-p3">
            {{ range .Pages }}
            <div class="archive-item">
              <div class="is-pulled-left"><a href="{{ .URL | absURL }}">
                {{ .Title }}
              </a></div>
              <div class="is-pulled-right has-text-right"><time>
                  {{ .Date.Format "02 Jan" }}&nbsp;
                  <span class="fas fa-calendar"></span></time></div>
              <div class="is-clearfix"></div>
            </div>
            {{ end }}
          </div>

        </div>
      </section>

    </div>
  {{ end }}
  </div>
