    <section class="box">
      <div class="main_title"> 
        <h4 class="title is-4 blog-post-title" itemprop="name headline">
          <a href="{{ .Permalink }}">{{ .Page.Title }}</a></h4>
      </div>

      <div class="is-clearfix"></div>
      
      <div class="field">
        {{ if .Params.author }}
        <div class="is-pulled-left">
        <span class="meta_author tag is-primary is-small">
            <span class="fa fa-user"></span>
            &nbsp;
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ .Params.author }}</span></span>            
        </span>
        &nbsp;
        </div>
        {{ end }}

        <div class="is-pulled-left">
          <span class="meta-time tag is-light is-small">
          {{ partial "post/time-elapsed.html" . }}
          </span>
          &nbsp;
        </div>

        <div class="is-pulled-right">
          {{ range .Params.tags }}
            <a href="{{ printf "tags/%s" . | absURL }}">
              <span class="tag is-light is-small"><span class="fa fa-tag"></span>&nbsp;{{ . }}</span></a>
          {{ end }}
          &nbsp;
        </div>

        <div class="is-pulled-right">
          {{ range .Params.categories }}
            <a href="{{ printf "categories/%s" . | absURL }}">
              <span class="tag is-dark is-small"><span class="fa fa-folder"></span>&nbsp;{{ . }}</span></a>
          {{ end }}
          &nbsp;
        </div>
      </div>

      <div class="is-clearfix"></div>
    </section>
