<!DOCTYPE html>
<html lang="en">
{{ partial "site/head.html" . }}
<body>
{{ partial "site/header.html" . }}

  {{- block "general" . }}
    <div class="columns is-12 layout-base maxwidth">
      {{- block "main" . }}
      {{ .Content }}
      {{- end }}

      {{- block "aside" . }}{{- end }}
    </div><!-- columns -->
  {{- end }}

{{ partial "site/footer.html" . }}
{{ partial "site/scripts.html" . }}
</body>
</html>
