{{ define "main" }}
  <main role="main" 
        class="column is-full blog-column box-deco has-background-white">
    <article class="blog-post page-content">
      <h4 class="title is-4">{{ .Title | default .Site.Title }}</h4>
      {{ .Content }}
    </article>
  </main>
{{ end }}

{{ define "aside2" }}
  <aside class="column is-one-thirds box-deco has-background-white">
    <div class="blog-sidebar">
      Side menu
    </div><!-- /.blog-sidebar -->
  </aside>
{{ end }}
