{{ define "main" }}
<main role="main" 
      class="column is-full box-deco has-background-white">

  <div class="field is-grouped is-grouped-multiline">
    {{ range $key, $value := .Data.Terms }}
    <div class="tags has-addons">
      {{ $posts := where $value.Pages "Type" "post" }}
      {{ $postCount := len $posts -}}
      <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
        <div class="tag is-light">{{ $key }}
        </div><div class="tag is-dark">{{ $postCount }}
        </div>
      </a>
    </div>
    &nbsp;
    {{- end }}
    <div class="tags dummy"></div>
  </div>

  <section class="section">
    <h4 class="title is-4">{{ .Section }}</h4>
  
    {{ .Content }}
  </section>

  <section class="columns is-multiline archive-p3" id="archive">
    {{ range $key, $value := .Data.Terms }}
    <div class="column is-full-mobile
                is-half-tablet is-one-third-widescreen">

      <section class="panel is-light">
        <div class="panel-header" id="{{ $key }}">
          <p>{{ $.Data.Singular | humanize }}: 
          <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
          {{ $key }}</a></p>
          <span class="fa fa-folder"></span>
        </div>
        <div class="panel-body has-background-white">

          <div class="archive-list archive-p3">
          {{ range where $value.Pages "Type" "post" }}
          <div class="archive-item meta-item">
            <div class="is-pulled-left"><a href="{{ .URL | absURL }}">
              {{ .Title }}
            </a></div>
            <div class="meta_link has-text-right">
              <time class="meta_time is-pulled-right"
                    datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date.Format "Jan 02, 2006" }}
                &nbsp;<span class="fa fa-calendar"></span></time></div>
            <div class="is-clearfix"></div>
          </div>
          {{ end }}
          </div>

        </div>
      </section>

    </div>
    {{ end }}
  </section>
</main>
{{ end }}
