+++
title = "Engineering Services and Consultant"
description = "Selamat Datang"

[opengraph]
  image = "assets/site/images/logo-altekk85.png"
+++

  <h2 class="title is-5">Welcome to PT. Altekk Gama 1985</h2>
          
  <br/>

  <div class="justify-content-center">
    <img src="{{< baseurl >}}assets/site/images/adverts/altekk-gama-cover.png" 
         class="bio-photo" 
         alt="business card">
  </div>

