---
type   : experience
title  : "Hopper Creamer"
slug   : ref-10
---

<h4 class="subtitle is-4">SS316L Hopper Creamer</h4>

<br/>

<div class="justify-content-center">
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-10a.png"
         alt="SS316L Hopper Creamer"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-10b.png"
         alt="SS316L Hopper Creamer"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-10c.png"
         alt="SS316L Hopper Creamer"><br/>
  </div>
</div>
