---
type   : experience
title  : "Mixing Vessel 12,5 Te"
slug   : ref-04
---

<h4 class="subtitle is-4">On Site Fabrication Mixing Vessel 12,5 Te<br/>
(Mixing Vessel 7,5 Te)</h4>

<br/>

<div class="justify-content-center">
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-04a.png"
         alt="On Site Fabrication Mixing Vessel 12,5 Te"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-04b.png"
         alt="On Site Fabrication Mixing Vessel 12,5 Te"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-04c.png"
         alt="On Site Fabrication Mixing Vessel 12,5 Te"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-04d.png"
         alt="On Site Fabrication Mixing Vessel 12,5 Te"><br/>
  </div>
</div>
