---
type   : experience
title  : "Storage Tank"
slug   : ref-11
---

<h4 class="subtitle is-4">Storage Tank SS316L</h4>

<br/>

<div class="justify-content-center">
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-11b.jpg"
         alt="Storage Tank SS316L"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-11c.jpg"
         alt="Storage Tank SS316L"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-11a.jpg"
         alt="Storage Tank SS316L"><br/>
  </div>
</div>
