---
type   : experience
title  : "Mixer Baby Oil"
slug   : ref-05
---

<h4 class="subtitle is-4">2500 Ltr Mixer Baby Oil</h4>

<br/>

<div class="justify-content-center">
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-05a.png"
         alt="mixer baby oil"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-05b.png"
         alt="mixer baby oil"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-05c.png"
         alt="mixer baby oil"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-05d.png"
         alt="mixer baby oil"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-05e.png"
         alt="mixer baby oil"><br/>
  </div>
</div>
