---
type   : experience
title  : "Mixing Vessel Pair"
slug   : ref-12
---

<h4 class="subtitle is-4">Mixing Vessel Pair</h4>

<br/>

<div class="justify-content-center">
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-12a.jpg"
         alt="Mixing Vessel Pair"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-12b.jpg"
         alt="Mixing Vessel Pair"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-12c.jpg"
         alt="Mixing Vessel Pair"><br/>
  </div>
</div>
