---
type   : experience
title  : "Mixer Tank for Butter Oil"
slug   : ref-07
---

<h4 class="subtitle is-4">4000 Ltr Mixer Tank for Butter Oil</h4>

<br/>

<div class="justify-content-center">
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-07a.png"
         alt="mixer butter oil"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-07b.png"
         alt="mixer butter oil"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-07c.png"
         alt="mixer butter oil"><br/>
  </div>
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-07d.png"
         alt="mixer butter oil"><br/>
  </div>
</div>
