---
type   : experience
title  : "Hot Water Tank"
slug   : ref-06
---

<h4 class="subtitle is-4">Hot Water Tank: Capacity 5 M<sup>3</sup></h4>

<br/>

<div class="justify-content-center">
  <div class="box">
    <img class=""
         src="{{< baseurl >}}assets/pages/experience/ref-06.jpg"
         alt="mixer baby oil"><br/>
  </div>
</div>
