<section class="panel is-light">
  <div class="panel-header">
    <p>Table of Content</p>
    <span class="fa fa-archive"></span>
  </div>
  <div class="panel-body has-background-white">

    <p>Springsteen Related Articles.</p>
    <ul>
      <li><a href="{{ "/quotes/2014/03/25/bruce-springsteen-one-step-up/" | relURL }}"
            >Bruce Springsteen - One Step Up</a></li>

      <li><a href="{{ "/quotes/2014/03/15/bruce-springsteen-the-river/" | relURL }}"
            >Bruce Springsteen - The River</a></li>
    </ul>

  </div>
</section>
