
  {{/* Required meta tags */}}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{/* The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags */}}

  <meta name="HandheldFriendly"
        content="True">
  <meta name="MobileOptimized"
        content="320">

  {{/* Let's Fake the Generator */}}
  <meta name="generator"
        content="Karimata 1.2.3 Media Engine" />

  {{/* Chrome, Firefox OS and Opera */}}
  <meta name="theme-color"
        content="#2980b9">
