<head>
  {{ partial "meta/html.html" . }}

  {{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
  <title>{{ .Page.Title | default .Site.Title }}</title>

  {{/*  Bulma CSS */}}
  <link rel="stylesheet" type="text/css"
        href="{{ "css/bulma.css" | relURL }}">
  <link rel="stylesheet" type="text/css"
        href="{{ "css/main.css" | relURL }}">
  <link rel="stylesheet" type="text/css"
        href="{{ "css/fontawesome.css" | relURL }}">
  {{ block "custom-stylesheet" . }}{{ end }}

  {{/* javascript */}}

  {{/* miscellanous */}}
  <link rel="shortcut icon" type="image/x-icon"
        href="{{ "favicon.ico" | relURL }}" />

  {{ partial "meta/seo.html" . }}
  {{ partial "meta/opengraph.html" . }}
  {{ partial "meta/twitter.html" . }}

  {{/* unused */}}
</head>
