<nav role="navigation" aria-label="main navigation"
     class="navbar is-fixed-top is-white maxwidth header-deco"
     id="navbar-vue-app">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.BaseURL }}">
       <img src="{{ "images/logo-altekk.png" | absURL }}"
           alt="Home" />
    </a>
    
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Experiences
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ "experience/ref-04" | absURL }}">
            <span class="fa fa-fill-drip"></span>&nbsp;Mixing Vessel
          </a>
          <a class="navbar-item" href="{{ "experience/ref-05" | absURL }}">
            <span class="fa fa-fill-drip"></span>&nbsp;Mixer Baby Oil
          </a>
          <a class="navbar-item" href="{{ "experience/ref-06" | absURL }}">
            <span class="fa fa-fill-drip"></span>&nbsp;Hot Water Tank
          </a>
          <a class="navbar-item" href="{{ "experience/ref-07" | absURL }}">
            <span class="fa fa-fill-drip"></span>&nbsp;Mixer Tank for Butter Oil
          </a>
          <a class="navbar-item" href="{{ "experience/ref-10" | absURL }}">
            <span class="fa fa-fill-drip"></span>&nbsp;Hopper Creamer
          </a>
          <a class="navbar-item" href="{{ "experience/ref-11" | absURL }}">
            <span class="fa fa-fill-drip"></span>&nbsp;Storage Tank
          </a>
          <a class="navbar-item" href="{{ "experience/ref-12" | absURL }}">
            <span class="fa fa-fill-drip"></span>&nbsp;Mixing Vessel Pair
          </a>
        </div>
      </div>
    <a class="navbar-item" href="{{ "pages/about" | absURL }}">
      About
    </a>
    
    <a role="button" class="navbar-burger burger" 
       aria-label="menu" aria-expanded="false" data-target="navbarBulma"
       @click="isOpen = !isOpen" v-bind:class="{'is-active': isOpen}">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBulma" class="navbar-menu"
       v-bind:class="{'is-active': isOpen}">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <form class="is-marginless" action="/pages/search/" method="get">
        <div class="navbar-item">
          <input class="" type="text" name="q"
            placeholder="Search..." aria-label="Search">
          &nbsp;
          <button class="button is-light" 
            type="submit">Search</button>
        </div>
      </form>
    </div>

  </div>
</nav>

