+++
title = "About Our Company"
+++
<table>
  <tr>
    <td nowrap><span class="fas fa-certificate "></span>&nbsp;</td>
    <td nowrap>Company Name</td>
    <td nowrap>&nbsp;:&nbsp;</td>
    <td>PT. Altekk Gama 1985</td>
  </tr>
  <tr>
    <td nowrap><span class="fas fa-home"></span>&nbsp;</td>
    <td nowrap>Official address</td>
    <td nowrap>&nbsp;:&nbsp;</td>
    <td>Jl. Rawa Bambu Raya No.17F, Lantai 2, Pasar Minggu, Jakarta Selatan, Jakarta</td>
  </tr>
  <tr>
    <td nowrap><span class="fas fa-phone"></span>&nbsp;</td>
    <td nowrap>Phone</td>
    <td nowrap>&nbsp;:&nbsp;</td>
    <td>021-71811568</td>
  </tr>
  <tr>
    <td nowrap><span class="fas fa-users "></span>&nbsp;</td>
    <td nowrap>Contact Person</td>
    <td nowrap>&nbsp;:&nbsp;</td>
    <td><ul>
      <li>Ir. Kun Subagyono&nbsp;
        <span style="white-space: nowrap;">
        <span class="fab fa-whatsapp"></span>
        &nbsp; +62 821-3989-5359</span></li>
      <li>Ir. Fakhrudin&nbsp;
        <span style="white-space: nowrap;">
        <span class="fab fa-whatsapp"></span>
        &nbsp; +62 857-1187-8619</span></li>
      <li>Ir. Arief Setyoprojo&nbsp;
        <span style="white-space: nowrap;">
        <span class="fab fa-whatsapp"></span>
        &nbsp; +62 812-1063-578</span></li>
    </ul></td>
  </tr>
  <tr>
    <td nowrap><span class="fas fa-envelope "></span>&nbsp;</td>
    <td nowrap>E-mail</td>
    <td nowrap>&nbsp;:&nbsp;</td>
    <td><a href="mailto:contact@altekk-gama.com">contact@altekk-gama.com</a></td>
  </tr>
  <tr>
    <td nowrap><span class="fas fa-coins"></span>&nbsp;</td>
    <td nowrap>Line Business</td>
    <td nowrap>&nbsp;:&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td nowrap></td>
    <td colspan="3"><ol class="has-padding-left-15">
      <li>Feasibility Study, Factory Design, Factory Construction, Factory Running Set Up, and Project Consultancy on Oil & Gas, Cosmetics, Foods and Beverages, and Chemical Industries.</li>
      <li>Install machineries (mechanical and electrical), process tank & storage tank, piping, steel structures fabrication and installation.</li>
    </ol></td>
  </tr>
</table>
